DSGUI--DSRadioButton::indicator
{
	width:20px;
	height:20px;
	color:#4a515a;
}
DSGUI--DSRadioButton::indicator::checked 
{
    image: url(./Skin/White/DSGui/RadioButton/Checked-n.png);
}

DSGUI--DSRadioButton::indicator:checked:hover,
DSGUI--DSRadioButton::indicator:checked:focus
{
    image: url(./Skin/White/DSGui/RadioButton/Checked-h.png);
}

DSGUI--DSRadioButton::indicator::checked:pressed
{
    image: url(./Skin/White/DSGui/RadioButton/Checked-p.png);
}

DSGUI--DSRadioButton::indicator::checked:disabled
{
    image: url(./Skin/White/DSGui/RadioButton/Checked-d.png);
}

DSGUI--DSRadioButton::indicator::unchecked
{
    image: url(./Skin/White/DSGui/RadioButton/UnCheck-n.png);
}

DSGUI--DSRadioButton::indicator:unchecked:hover,
DSGUI--DSRadioButton::indicator:unchecked:focus
{
    image: url(./Skin/White/DSGui/RadioButton/UnCheck-h.png);
}

DSGUI--DSRadioButton::indicator::unchecked:pressed
{
    image: url(./Skin/White/DSGui/RadioButton/UnCheck-p.png);
}

DSGUI--DSRadioButton::indicator::unchecked:disabled
{
    image: url(./Skin/White/DSGui/RadioButton/UnCheck-d.png);
}