DSGUI--DSTabBar
{
	qproperty-drawBase:false;
}

DSGUI--DSTabBar::tab
{ 
	min-width:100px;
	height:28px;
	color:#4a515a;
	font-size: 12px;
	margin:0px 5px 0px 0px;
	padding-left:20px;
	padding-right:20px;
	border-width: 2px 2px 0 2px;
}

DSGUI--DSTabBar::tab:selected
{
    border-image: url(./Skin/White/DSGui/Tab/tab_pending.png);
	color:#232629;
}

DSGUI--DSTabBar::tab:!selected
{
    border-image: url(./Skin/White/DSGui/Tab/tab_current.png);
	color:#4a515a;
}

DSGUI--DSTabBar::tab:hover:!selected
{
    border-image: url(./Skin/White/DSGui/Tab/tab_hover.png);
	color:#232629;
}

DSGUI--DSTabBar::tab:!first
{ 
    /*margin:0px 0px 0px -8px;*/
}

DSGUI--DSTabWidget::pane 
{
    border: none;
}
