DSGUI--DSToolListView
{
	background-color:#e5e9ee;
	icon-size:16px 16px;
}

DSGUI--DSToolListView::tab
{
	background-color:#e5e9ee;
	color:#4a515a;
	padding-left:10px;
	font-size: 12px;
}

DSGUI--DSToolListView::tab:selected
{
	background-color:#c5cdd9;
	color:#232629;
}

DSGUI--DSToolListView::tab:hover:!selected
{
	background-color:#ced5df;
	color:#232629;
}

DSGUI--DSToolListView QAbstractButton
{
	min-height:30px;
	max-height:30px;
}
