DSGUI--DSLineEdit
{
	border-image:url(./Skin/DustyBlue/DSGui/LineEdit/bg-n.png) 2 6 2 6;
	border-width: 2px 6px 2px 6px;
	color:#abb2bd;
} 

DSGUI--DSLineEdit:hover
{ 
	border-image:url(./Skin/DustyBlue/DSGui/LineEdit/bg-h.png) 2 6 2 6;
} 

DSGUI--DSLineEdit:pressed,
DSGUI--DSLineEdit:focus
{ 
	border-image:url(./Skin/DustyBlue/DSGui/LineEdit/bg-p.png) 2 6 2 6;
}

DSGUI--DSLineEdit:disabled
{ 
	border-image:url(./Skin/DustyBlue/DSGui/LineEdit/bg-d.png)  2 6 2 6;
}

DSGUI--DSLineEdit[error=true]
{ 
	border-image:url(./Skin/DustyBlue/DSGui/LineEdit/bg-e.png)  2 6 2 6;
}

DSGUI--DSLineEdit QLabel#m_pHintLab
{
	border-image:url(./Skin/DustyBlue/DSGui/LineEdit/BubbleHint.png) 1 1 4 22;
	color:#f25050;
	font-size:12px;
	font-weight:bold;
	border-width: 1px 1px 4px 24px;
	padding-left:0;
} 