DSGUI--DSDateCalendar {	
	background-color:#222429;
	font:12px;
	border : none;
	border-radius:2px;
	color:#EEEEEE;
	background-image:url(./Skin/DustyBlue/DSGui/DateTimeCalendar/Calendar-n.png);
	background-repeat:	no-repeat;
	background-position: center right;
	padding-left:4px;
}

DSGUI--DSDateCalendar  DSGUI--DSCalendar{	
	background-color:#2B2F33;
}

DSGUI--DSDateCalendar  DSGUI--DSCalendar QStackedWidget#stkCalType{	
	background-color:#25282B;
	border-top:solid 1px #373B3F;
	border-bottom:solid 1px #373B3F;
}

